header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    float: left;
    border-right: 1px solid #bbb;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a:hover:not(.active) {
    background-color: #111;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
}

section {
    text-align: center;
}
